<div id="spinner-scrim" class="palm-scrim" style="display: none;">
    <div x-mojo-element="Spinner" name="spinner" class="spinner"></div>
</div>

<div class="palm-page-header multi-line article">
  <div class="palm-page-header-wrapper">
    <div id="header">
      <table>
        <tr>
          <td id="article-info">
            <div id="title-wrapper" style="display: -webkit-box; -webkit-box-orient: vertical">
              <div style="-webkit-box-flex: 1"></div>
              <div id="title">Content</div>
              <div style="-webkit-box-flex: 1"></div>
            </div>

            <!-- <div id="title"></div> -->
          </td>
          <td id="right-arrow"></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="content"></div>
