<div class="palm-page-header fixed">
  <div class="palm-page-header-wrapper">
    <div id="header" class="center truncating-text">Preferences</div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div class="preferences">
  <div class="palm-group">
    <div id="general-label" class="palm-group-title" x-mojo-loc=''>General</div>
    <div class="palm-list">
      <div class="palm-row first last">
      	<div class="palm-row-wrapper">
          <div id="landscape-label" class="left title">Allow Landscape</div>
          <div x-mojo-element="CheckBox" class="right" id="allow-landscape"></div>
      	</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="articles-label" class="palm-group-title" x-mojo-loc=''>Articles</div>
    <div class="palm-list">
      <div class="palm-row first last">
        <div class="palm-row-wrapper">
          <div id="font-size" x-mojo-element="ListSelector"></div>
        </div>
      </div>
    </div>
  </div>
</div>
