body {
  background-color: #e6e3de !important;
}

/*
 * HEADER
 */
.palm-page-header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 19300;
}

.palm-page-header.fixed .center {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 13px 40px;
  background: url(../images/gradient.png) repeat-x;
}

.palm-page-header.fixed .my-right-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 19301;
}

.palm-page-header.fixed .my-left-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 19301;
}

.palm-page-header.fixed #switch {
  background: url(../images/list.png) no-repeat center;
}

/*
 * ARTICLE HEADER
 */
.article #header {
   background-color: #eeecea;
   padding: 10px;
   font-size: 16px;
   border-bottom: 1px solid #444;
   min-height: 50px;
   padding-right: 50px;
}

.article #header table {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 100%;
}

.article #article-info {
  min-height: 50px;
  vertical-align: middle;
}

.article #title-wrapper {
  min-height: 50px;
}

.article #title {
  color: #222;
  font-weight: bolder;
}

.article #right-arrow {
  width: 20px;
  background: url(../images/rightarrow.png) center center no-repeat;
}

/*
 * SCENE SCROLLER
 */
.my-scene-fade-top {
	position: fixed;
	top: 0;
	z-index: 18000;
	height: 54px;
	width: 100%;
	background: url(../images/my-scene-fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

.palm-dark .my-scene-fade-top {
	background-image: url(../images/my-scene-fade-top-dark.png);
}

.my-scene-fade-bottom {
	position: fixed;
	bottom: 0;
	z-index: 18000;
	height: 54px;
	width: 100%;
	background: url(../images/my-scene-fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

.palm-dark .my-scene-fade-bottom {
	background-image: url(../images/my-scene-fade-bottom-dark.png);
}

.spinner-message {
  color: #333;
  text-align: center;
}

.clear {
  clear: both;
}

.palm-row .unread-item {
  padding-bottom: 5px;
}

.palm-page-header .my-right-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 19301;
}

.palm-page-header #refresh {
    background: url(../images/refresh.png) no-repeat center;
}

.palm-menu-spacer {
  height: 50px;
}

.palm-row .saving {
  background: url(../images/spinner.gif) center center no-repeat;
}

.palm-row .saved {
  background: url(../images/saved.png) center center no-repeat;
}

.palm-row .star {
  width: 40px;
  background: url(../images/notstarred.png) center center no-repeat;
}

.palm-row .star.on {
  background: url(../images/starred.png) center center no-repeat;
}

.palm-row .star.offline {
}

table, tr, td, th {
  padding: 0;
  margin: 0;
}

table .palm-info-text, table .palm-body-text {
  padding: 0;
  margin: 7px;
}

#loading {
  position: fixed;
  z-index: 99999;
  top: 5px;
  right: 5px;
}

#content {
  padding: 10px;
  font-size: 16px;
}

#content a {
  color: #222;
}

#content p {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

#content blockquote {
  margin: 10px 15px;
}

#content div.bar.top {
  display: none;
}

#content #text_controls_toggle {
  display: none;
}

#content h1 {
  display: none;
}

#content h2, #content h3, #content h4, #content h5 {
  font-size: 18px;
}