body {
  background-color: #fff;
  //#e6e3de !important;
}

table, tr, td, th {
  padding: 0;
  margin: 0;
}

table .palm-info-text, table .palm-body-text {
  padding: 0;
  margin: 3px;
}

.spinner-message {
  color: #333;
  text-align: center;
}

.clear {
  clear: both;
}

#loading {
  position: fixed;
  z-index: 99999;
  top: 5px;
  right: 5px;
}

/*
 * PREFERENCES
 */
.preferences .left {
  float: left;
}

.preferences .right {
  float: right;
}

.preferences .title {
  font-size: 16px !important;
  line-height: 22px !important;
}

/*
 * HEADER
 */
.palm-page-header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 19300;
}

.palm-page-header.fixed .center {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 13px 40px;
  background: url(../images/gradient.png) repeat-x;
}

.palm-page-header.fixed .my-right-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 19301;
}

.palm-page-header.fixed .my-left-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 19301;
}

.palm-page-header.fixed #switch {
  background: url(../images/list.png) no-repeat center;
}

.palm-menu-spacer {
  height: 50px;
}

.palm-page-header #refresh {
  background: url(../images/refresh.png) no-repeat center;
}

/*
 * ARTICLE HEADER
 */
.article #header {
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #444;
  min-height: 32px;
  font-weight: bold;
}

.article #header table {
  width: 100%;
  height: 100%;
}

.article #header table td.arrow {
  width: 25px;
}

.article #header #right-arrow {
  min-height: 32px;
  background: url(../images/rightarrow.png) center center no-repeat;
}

/*
 * CONTENT
 */
#content {
  background: #fff;
  padding: 15px;
  font-size: 16px;
  font-family: sans;
  color: #000;
  padding: 0% 10%;
}

#content.small, #content.small p {
  font-size: 16px !important;
  line-height: 20px !important;
}

#content.medium, #content.medium p {
  font-size: 18px !important;
  line-height: 22px !important;
}

#content.large, #content.large p {
  font-size: 21px !important;
  line-height: 25px !important;
}

#content a {
  color: #222;
}

#content img {
  max-width: 280px;
  height: auto;
}

#content p {
  padding: 0 0 15px;
  margin: 0;
}

#content blockquote {
  margin: 10px 15px;
}

#content div.bar.top {
  display: none;
}

#content #text_controls_toggle {
  display: none;
}

#content h1 {
  display: none;
}

#content.small h2, #content.small h3, #content.small h4, #content.small h5 {
  font-size: 18px;
}

#content.medium h2, #content.medium h3, #content.medium h4, #content.medium h5 {
  font-size: 20px;
}

#content.large h2, #content.large h3, #content.large h4, #content.large h5 {
  font-size: 23px;
}

#content blockquote {
  padding: 1em 5%;
  margin: 1em 5%;
  background-color: #e6e6e6;

  /*Top*/
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1em;

  /*Bottom*/
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#content img {
  border: solid #000;
  border-width: 1px 5px 5px 1px;
  /*border-width: 5.9% 4.5% 20.8% 4%;*/
  /*border-width: 5px 4px 40px 4px; */
  padding: 5px 5px 40px 4px;
  margin: 10px;
  transform: rotate(+2deg);
  text-align: center;
  max-width: 90%;
}

/*
 * ITEM ROW
 */
.palm-row .item {
  padding-bottom: 5px;
}

.palm-row .item table {
  width: 100%;
}

.palm-row .item table td.fixed {
  width: 40px;
}

.palm-row .star {
  width: 40px;
  background: url(../images/notstarred.png) center center no-repeat;
}

.palm-row .star.on {
  background: url(../images/starred.png) center center no-repeat;
}

.palm-row .star.offline {
}

.palm-row .item td.check {
  width: 21px;
}

.palm-row .item .saved {
  background: transparent url(../images/saved.png) left center no-repeat;
}

.palm-row .item .saving {
  background: transparent url(../images/saving.gif) left center no-repeat; 
}
