<div class="palm-row">
  <div class="palm-row-wrapper unread-item">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <div class="icon star #{starred}"></div>
        </td>
        <td>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td><div class="palm-body-text"><strong>#{title}</strong></div></td>
            </tr>
            </tr>
              <td><div class="palm-info-text">#{host}</div></td>
            </tr>
          </table>
        </td>
    </table>
  </div>
</div>