<div class="palm-row" id="item#{id}">
  <div class="palm-row-wrapper item">
    <table>
      <tr>
        <td class="fixed">
          <div class="icon star #{starred}"></div>
        </td>
        <td>
          <table>
            <tr><td><div class="palm-body-text"><strong>#{title}</strong></div></td></tr>
            <tr>
              <td><div class="palm-info-text truncating-text">#{host}</div></td>
              <td class="check">
                <div style="display: none;" class="saved">&nbsp;</div>
                <div style="display: none;" class="saving">&nbsp;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
